In [2]:
import numpy as np 
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline

In [3]:
data=pd.read_csv("spam.csv")
data

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [5]:
data['spam']=data['Category'].apply(lambda x:1 if x=='spam' else 0)
data.head()

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  5572 non-null   object
 1   Message   5572 non-null   object
 2   spam      5572 non-null   int64
dtypes: int64(1), object(2)
memory usage: 130.7+ KB

In [7]:
data.describe()

              spam
count  5572.000000
mean      0.134063
std       0.340751
min       0.000000
25%       0.000000
50%       0.000000
75%       0.000000
max       1.000000

In [9]:
X_train,X_test,y_train,y_test=train_test_split(data.Message,data.spam,test_size=0.25)

# Naive Bayes have three classifier(Bernouli,Multinominal,Gaussian)

Here I use Multinominal Bayes algorithm because here data in a discrete form. Discrete data (e.g movie ratings ranging 1 to 5 as each rating will have certain frequency to represent)

In [10]:
clf=Pipeline([
    ('vectorizer',CountVectorizer()),
    ('nb',MultinomialNB())
])

# Training the Model

In [11]:
clf.fit(X_train,y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

Here I give two email to detect

**First one is looking good, ie. not spam
**Second one is looking for spam emails

In [18]:
emails=[
    'Sounds great! Are you home now?',
    'Register on any website.Receive a confirmation mail.Avoid spam email to your mailbox.'
   
]

In [19]:
clf.predict(emails)

array([0, 1], dtype=int64)

# Prediction_of_model

In [20]:
clf.score(X_test,y_test)

0.9806173725771715